*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: stretch;
    align-self: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    width: 85%;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: white;
}

header .form .submit{
    border: white;
    background-color: #FFF;
    color: #666;
    width: 15%;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.burger-menu {
    text-align: center;
}
div.burger-menu i {
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
.last-visit-title, .offers-title {
    font-size: 20px;
}
div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}
.description:hover {
    display: block;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}
footer {
    text-align: center;
    margin-top: 10%;
   
}
footer i {
    color: #1259c3;
    font-size: 2em;
    text-align: center;
    transition: all 0.5s;
    
}
footer i:hover {
    color: #EAC926;   
}
footer strong {
    font-size: 16px;
}
footer p {
    margin: 10px
}
.copy {
    text-align: left;
    font-size: 12px;
    margin-left: 0%;
}
.register {
    margin: 10px;
}
.register form {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.register input {
    border-radius: 5px;
    border: white solid 1px;
    height: 25px;
}
.profile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.interests {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.interests div {
    display: flex;
    width: 40%;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-start;
}
.interests div input {
    margin-left: 10px;
}
.interests div label {
    margin-left: 10px;
}
.button {
    width: 80%;
    height: 25px;
    color: white;
    background-color: #0044AA;
}
.login form {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.pswrd, .user-name {
    border-radius: 5px;
    border: white solid 1px;
    height: 25px;
    width: 70%;
}
.button-login {
    width: 70%;
    height: 25px;
    color: white;
    background-color: #0044AA;
    border-radius: 5px;
}
main section div.products article i, main section article {
    transition: all 1s;
}
main section div.products article:hover i{
    transform: rotate(-90deg);
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article:hover .description{
    display: block;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

@media (min-width: 361px){
    main section article .description{
        display: block;
    }
    div.burger-menu i{
        display: none;
    }
    div.top-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    header div.top-header .logo {
        width: 30%;
    }
    header div.top-header .form {
        height: 20px;
        width: 30%;
    }
    header div.top-header p {
        width: 30%;
    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section div.products article{
        width: 45%;
    }
    .price,
    .discount{
        width: 50%;
    }
    header nav{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }
    nav div.left-nav ul {
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
    }
    nav div.right-nav ul {
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
    }
    .profile {
        width: 40%;
    }
    .button {
        width: 40%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
    header nav {
        font-size: 18px;
    }
    header div.top-header p {
        font-size: 18px;
    }
    .footer-text {
        display: flex;
    }
    footer i:hover {
        color: #EAC926;   
    }
}